.column {
    width: 100%;
}

@media (min-width: 600px) {
    .column {
        width: 50%;
    }
}

h1 {
    color: red;
    text-align: center;
} 

.indice {
    display: flex;
    
    
}

.div-imagen2 {
    justify-content: center;
    align-content: center;
}

.list-head {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background-color: rgb(121, 119, 119);
}

li a {
    display: block;
    color: blue;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(230, 73, 112);
    color: aliceblue;

}
section {
    color: blue;
}

div {
    color: rgb(65, 64, 64);
}
.parrafo {
    background-color: aquamarine;
    text-align: justify;
}

#tlf {
    font-size: 26px;
}

h3, h4 {
    font-size: 2em;
    
}

p strong {
    background-color: white;
}


.div-imagen {
    display: flex;
    justify-content: center;   
}


#foto {
    width: 100px;
    border-radius: 50%;
}


